
.profile-container{
    width:100vw ;
    height: auto;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}
.profile-header{
    width: 100%;
    padding-top: 15px;
    padding-left: 5%;
    padding-bottom: 0;
}
.header-col{
    align-self: center;
}
#profile-title-h1{
    color: #000036;
    font-family: 'Spooky', serif;
    font-size: 60px;
}

/* Update form styles*/
.profile-body{
    width: 100vw;
    /* height: 60vh; */
    padding: 0 5%;
    margin-bottom: 20px;
}
#profile-card-title{
    font-family: 'Spooky', serif;
    font-size: 35px;
}
h4{
    font-family: 'Spooky', serif;
    font-size: 40px;
}

.profile-update-card{
    background-color: #F9F8ED;
    border: none;
}
.profile-label{
    color: #000036;
    font-family: 'Spooky', serif;
    font-size: 20px;
}


.profile-btn{
    font-size: 25px;
    background-color: #000036;
    border: none;
    font-family: 'Spooky', serif;
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
}
.profile-btn:active{
    transform: scale(.98);
}